# EARTHQUAKES IN CAMPI FLEGREI

###  IMPORT LIBRARY

In [1]:
import pandas as pd
import numpy as np

### FONTE DATI AGGIORNATI

scaricare da qui i dati aggiornati: https://terremoti.ov.ingv.it/gossip/flegrei/index.html

### IMPORT DATA

In [2]:
# import dati anni dal 2000 al 2021

df_2000_2021 = pd.read_csv('dataset\dati_fle_2000_2021.csv')

df_2000_2021 = df_2000_2021.reset_index()

df_2000_2021 = df_2000_2021.rename(columns={"index": "Time",
                                            "Tempo origine (UTC)": "Magnitude", 
                                            "Magnitudo": "Latitude", 
                                            "Latitudine N": "Longitude", 
                                            "Longitudine E": "Depth/km",  
                                            "Profondit√† (km)": "Note"
                                            })

df_2000_2021 = df_2000_2021.drop('Note', axis=1)

df_2000_2021 = df_2000_2021[['Time','Latitude','Longitude','Depth/km','Magnitude']]


# import dati anni 2022

df_2022 = pd.read_csv('dataset\events 2022.csv')

nominare "events 2023.csv" i dati aggioranti e salvarli nella cartella "dataset"

In [3]:
# import dati anni 2023

df_2023 = pd.read_csv('dataset\events 2023.csv')

### JOIN DATA

In [4]:
# creo un unico df che comprendere anni 2000-2023

df = pd.concat([df_2022,df_2023])
df = df.reset_index()
df = df.drop('index', axis=1)

df = df.drop(['#EventID','MagType','MagErr', 'Area', 'Type', 'Level'], axis=1)

df = pd.concat([df,df_2000_2021])
df = df.sort_values(by='Time')
df = df.reset_index()
df = df.drop('index', axis=1)

### DATA CLEANING

In [5]:
# convertion data type
df['Time'] = df['Time'].str.replace('-','/')
df['Time'] = pd.to_datetime(df['Time'],format='mixed')

In [6]:
# create new columns
df['year'] = df['Time'].dt.year
df['month'] = df['Time'].dt.month

# convertion data type
df['year'] = df['year'].astype(str)
df['month'] = df['month'].astype(str)

In [7]:
# create new columns
df['year_month']= pd.to_datetime(df.Time).dt.strftime('%Y/%m')
df['date']= pd.to_datetime(df.Time).dt.strftime('%Y/%m/%d')

### CHECK INFO DATA

In [8]:
df.shape

(12550, 9)

In [9]:
df[['Time','Latitude','Longitude','Depth/km','Magnitude']].head()

                     Time  Latitude  Longitude  Depth/km  Magnitude
0 2000-08-22 14:17:01.360   40.8258    14.1477      2.17        1.4
1 2000-08-22 15:05:56.840   40.8267    14.1487      2.75        1.6
2 2000-08-22 15:58:02.270   40.8278    14.1448      2.68        2.2
3 2000-08-22 17:31:35.540   40.8370    14.1527      0.06        1.9
4 2000-08-22 18:20:54.530   40.8255    14.1485      2.00        1.4

### DOWNLOAD DATAFRAME

In [10]:
df.to_excel('clean_data/df_2000_2023.xlsx')